# Домашнее задание 2 

Необходимо реализовать схему, указанную в hw_diagram.pdf

## Описание таблиц 
PeopleStatus - Описание возможных статусов людей, которые есть в университете (Студент, Преподаватель).
Faculties - Описание факультетов, которые есть в университете (KIB, IT, и т.д.).
People - Информация о людях в университете (Имя, почта, ссылка на факультет, ссылка на статус).
Classes - Описание возможных классов в университете (название (Математический анализ) и ссылка на факультет).
Semesters - Справочник семестров факультета(например, Осень2016, '2016-01-01', '2016-12-31').
ClassesSchedule - Расписание классов (ссылки на семестр, преподавателя и курс, день недели, время начала).
StudentsSchedule - Таблица, описывающая, какой студент ходит на какой курс.

In [3]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: None@None'

## Создание таблиц
Напишет ниже скрипты по созданию таблиц с учетом всех внешних ключей.

In [4]:
%%sql 
drop table if exists Faculties;
create table Faculties(
       Id           integer(0,0) primary key,
       name         varchar(0,0)
);

drop table if exists Classes;
pragma foreign_keys = ON;
create table Classes(
    Id           integer(0,0) primary key,
    description  varchar(0, 0),
    fac_id       integer(0, 0),
    foreign key (fac_id) references Faculties (Id)
);
 
drop table if exists Semesters;
create table Semesters(
    Id           integer(0,0) primary key,
    shortname    varchar(0, 0),
    date_start   date(0, 0),
    date_end     date(0, 0)
    
);

drop table if exists ClassesSchedule;
pragma foreign_keys = ON;
create table ClassesSchedule(
    Id           integer(0,0) primary key,
    class_id     integer(0, 0),
    teacher_id   integer(0, 0),
    semester_id  integer(0, 0),
    week_day     integer(0, 0),
    time_start   varchar(0, 0),
    foreign key (class_id) references  Classes(Id ),
    foreign key (teacher_id ) references  People(Id ),
    foreign key (semester_id) references  Semesters(Id )
    
    
);

drop table if exists People;
pragma foreign_keys = ON;
create table People(
    Id           integer(0,0) primary key,
    name         varchar(0, 0),
    email        varchar(0, 0),
    fac_id       integer(0, 0),
    status_id    integer(0, 0),
    foreign key (fac_id )  references Faculties(Id),
    foreign key ( status_id )  references PeopleStatus(Id)

);

drop table if exists PeopleStatus;
create table PeopleStatus(
    Id           integer(0,0) primary key,
    name         varchar(0, 0)
);

drop table if exists StudentsSchedule;
pragma foreign_keys = ON;
create table StudentsSchedule(
    student_id             integer(0, 0) ,
    classesschedule_id     integer(0, 0) ,
    primary key (student_id, classesschedule_id),
     foreign key ( student_id )  references People(Id),
     foreign key ( classesschedule_id   )  references ClassesSchedule(Id)
    
   
    
);

Done.
0 rows affected.
Done.
Done.
0 rows affected.
Done.
0 rows affected.
Done.
Done.
0 rows affected.
Done.
Done.
0 rows affected.
Done.
0 rows affected.
Done.
Done.
0 rows affected.

[]

## Добавление записей в таблицы
Приведите примеры добавления записей в каждую из таблиц

In [5]:
%%sql
insert into Faculties (Id, name) values(1, 'KIB');
insert into Faculties(Id, name) values(2, 'IT');
insert into PeopleStatus(Id, name) values(1, 'Студент');
insert into PeopleStatus(Id, name)  values(2, 'Преподаватель');
insert into Semesters (id, shortname, date_start, date_end) values(1, 'Осень', '2016-09-01', '2016-12-31');
insert into Semesters (id, shortname, date_start, date_end) values(2, 'Весна', '2017-02-05', '2017-06-07');
insert into Classes (id, description, fac_id) values(1, 'M', 1);
insert into Classes (id, description, fac_id) values(2, 'M', 2);
insert into People (id, name, email, fac_id, status_id) values(1, 'Джон', '11@mail.ru', 1, 2);
insert into People (id, name, email, fac_id, status_id) values(2, 'Константин', '22@mail.ru', 1, 1);
insert into ClassesSchedule (id, class_id, teacher_id, semester_id, week_day,time_start) 
    values(1, 2, 1, 1, 'Понедельник', '09:00');
insert into StudentsSchedule (student_id, classesschedule_id) values(2, 1);

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Находится ли указанная схема ниже в BCNF? Напишите ниже функциональные зависимости, которые вы считаете, есть в указанной схеме.